#preloader {
  width: 300px;
  height: 4px;
  overflow: hidden;
  background-color: #555;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 48%;
  bottom: auto;
  margin: 0 auto;
  -webkit-animation: hide 0.8s ease-out 1 forwards;
  -moz-animation: hide 0.8s ease-out 1 forwards;
  -ms-animation: hide 0.8s ease-out 1 forwards;
  -o-animation: hide 0.8s ease-out 1 forwards;
  animation: hide 0.8s ease-out 1 forwards;
}
