<div class="ega_image_slider_container">
  <mdb-carousel
    class="carousel slide carousel-fade"
    [animation]="'fade'"
    [interval]="'0'"
  >
    <mdb-carousel-item *ngFor="let image of visibleImages">
      <div class="view w-100">
        <a [routerLink]="['/image', image.id]">
          <img class="d-block w-100" src="{{ image.url }}" alt="First slide" />
        </a>
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">{{ image.category }}</h3>
        <p>{{ image.caption }}</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>
