<ngb-tabset [orientation]="vertical" class="ega_tab_container">
  <ngb-tab title="" class="ega_tab">
    <ng-template ngbTabContent class="ega_tab_content"> </ng-template>
  </ngb-tab>
  <ngb-tab title="Interview Questions" class="ega_tab">
    <ng-template ngbTabContent class="ega_tab_content">
      <app-interview-questions></app-interview-questions>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Business Rules" class="ega_tab">
    <ng-template ngbTabContent class="ega_tab_content">
      BUSINESS RULES</ng-template
    >
  </ngb-tab>
  <ngb-tab title="Client Scripts" class="ega_tab">
    <ng-template ngbTabContent class="ega_tab_content">
      CLIENT SCRIPTS</ng-template
    >
  </ngb-tab>
</ngb-tabset>
