<ngb-tabset [orientation]="vertical" class="ega_tab_container">
  <ngb-tab title="" id="ega_empty_tab">
    <ng-template ngbTabContent class="ega_tab_content"> </ng-template>
  </ngb-tab>
  <ngb-tab title="Interview Questions" id="ega_interview_questions_tab">
    <ng-template ngbTabContent id="ega_tab_content">
      <app-interview-questions
        class="ega_interview_question_component"
      ></app-interview-questions>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Business Rules" class="ega_tab">
    <ng-template ngbTabContent class="ega_tab_content">
      BUSINESS RULES</ng-template
    >
  </ngb-tab>
  <ngb-tab title="Client Scripts" class="ega_tab">
    <ng-template ngbTabContent class="ega_tab_content">
      CLIENT SCRIPTS</ng-template
    >
  </ngb-tab>
</ngb-tabset>
