mdb-carousel-item div a img {
  object-fit: contain;
  height: 75vh;
  box-shadow: 0px 10px 15px -10px rgba(71, 71, 71, 0.4);
}

.rgba-black-light,
.rgba-black-light:after {
  background-color: rgba(0, 0, 0, 0);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}
.carousel-caption:hover,
.carousel-indicators:hover {
  color: black;
  background: rgba(71, 71, 71, 0.4);
}
.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: red !important;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: red;
}
.ega_image_container {
  display: grid;
  grid-template-columns: 1fr 99fr;
}
.ega_image_container h2 {
  font-size: 1.5rem;
  display: table;
}
.ega_photo_side_menu {
  margin: 20px 0px 0px 100px;
}
.ega_photo_side_menu h2 {
  transition: all 0.2s ease-in-out;
}

.ega_photo_side_menu h2:hover {
  transform: scale(1.1);
}
@media (max-width: 2100px) {
  .ega_image_container {
    grid-template-columns: 1fr;
    text-align: unset;
  }
  .ega_photo_side_menu {
    margin: 20px 0px 0px 20px;
  }
  mdb-carousel-item div img {
    height: unset;
    padding: 20px;
  }
}
