<ngb-tabset [orientation]="vertical" class="ega_tab_container">
  <ngb-tab title="" class="ega_tab">
    <ng-template ngbTabContent class="ega_tab_content"> </ng-template>
  </ngb-tab>
  <ngb-tab title="Interpolation" class="ega_tab">
    <ng-template ngbTabContent class="ega_tab_content">
      <app-interpolation></app-interpolation>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Property Binding" class="ega_tab">
    <ng-template ngbTabContent class="ega_tab_content">
      <app-property-binding></app-property-binding
    ></ng-template>
  </ngb-tab>
  <ngb-tab title="Attribute Binding" class="ega_tab">
    <ng-template ngbTabContent class="ega_tab_content">
      <app-attribute-binding></app-attribute-binding
    ></ng-template>
  </ngb-tab>

  <ngb-tab title="Class Binding" class="ega_tab">
    <ng-template ngbTabContent class="ega_tab_content">
      <app-class-binding></app-class-binding
    ></ng-template>
  </ngb-tab>

  <ngb-tab title="Style Binding" class="ega_tab">
    <ng-template ngbTabContent class="ega_tab_content">
      <app-style-binding></app-style-binding
    ></ng-template>
  </ngb-tab>

  <ngb-tab title="Event Binding" class="ega_tab">
    <ng-template ngbTabContent class="ega_tab_content">
      <app-event-binding></app-event-binding
    ></ng-template>
  </ngb-tab>
  <ngb-tab title="Two-Way Binding" class="ega_tab">
    <ng-template ngbTabContent class="ega_tab_content">
      <app-two-way-binding></app-two-way-binding
    ></ng-template>
  </ngb-tab>
</ngb-tabset>
