<div class="ega_view_container">
  <h1 class="testing">SEED GERMINATION</h1>
  <img src="../../../../../assets/images/vegetables/germination.jpg" alt="" />
  <p>
    Germination of seed is almost entirely dependent on soil temperature.
    Because of this, seeds can be germinated indoors with very little to no
    sunlight. 5 to 7 days of warm, moist conditions, is all that is needed.
  </p>
  <p>
    Large seeds such as beans or beets can be sown in container cells with
    anywhere from two to four seeds per cell.
  </p>
  <p>
    Smaller seeds such as that of celery or onion can be sown directly in
    containers without cells as they will need to be
    <span
      placement="top"
      triggers="mouseenter:mouseleave"
      ngbPopover="Process by which small seedlings are carefully extracted from their initial sowing container, and then transplanted into a larger cell or container individually."
      popoverTitle="Pricked Out"
      class="ega_bold"
    >
      "pricked out"</span
    >.
  </p>
  <p>
    Once seeds have sprouted and the germinated seeds have their cotyledons, or
    first set of leaves (Not true leaves), they are ready to be pricked out.
  </p>
</div>
