<h1 class="testing">SEED GERMINATION</h1>
<br />
<p>
  Germination of seed is entirely dependent on soil temperature. Because of
  this, germinating seeds indoors, even with very little to no sunlight, for
  roughly 5 days to a week is actually ideal.
</p>
<p>
  Large seeds such as beans or beets can be sown in container cells with
  anywhere from two to four seeds per.
</p>
<p>
  Smaller seeds such as that of celery or onion can be sown in containers
  without cells as they will need to be
  <span
    class="ega_italic"
    id="tooltip"
    ngbTooltip="Process by which small seedlings are carefully extracted from their initial sowing container, and then transplanted into a larger cell or container individually."
    tooltipClass="ega_tool_tip"
    >"pricked out"</span
  >.
</p>
<p>
  Once seeds have sprouted and the germinated seeds have their cotyledons or
  first set of leaves (Not true leaves), they are ready to be pricked out.
</p>
