<button
  class="ega_navButton"
  (click)="toggle()"
  [style.color]="ega_colorChange()"
>
  <i class="fa fa-bars">{{ show == true ? "About" : "Home" }}</i>
</button>
<ng-container *ngIf="!show">
  <div class="overlay" [@fadeInOut]>
    <!--Animation trigger-->
    <div class="wrap">
      <ul class="wrap-nav">
        <li>
          <h2>About</h2>

          <article>
            <p>
              Enea Antonicelli was born somewhere in Italy in the winter of
              1986. The exact date and circumstances of his birth are unknown
              since he was immediately placed inside a basket and ousted into a
              river.
            </p>
            <p>
              A young woman noticed the basket one morning while picking berries
              around the muddy banks of the Tiber. She rescued baby Enea and
              nursed him using the milk of a badger.
            </p>
            <p>
              Years passed as Enea grew into a young man; developing his many
              talents along the way. He discovered photography while selling
              boar sausage along the outskirts of Rome. Roughly around the same
              time, he began to rescue small kittens and other animals he found
              along his journies.
            </p>

            <p>
              One morning, while nurturing a small mongoose back to health, Enea
              noticed the rest of the litter looking through his camera’s
              viewfinder. Curious as to the possibilities, Enea began to teach
              small animals to operate simple camera controls.
            </p>
            <p>
              Although Enea holds creative credit, many of his images are not
              actually taken by him.
            </p>
          </article>
        </li>
        <li>
          <h2>Contact Me</h2>
        </li>
      </ul>
      <div class="social">
        <a href="https://www.facebook.com/enea.antonicelli">
          <div class="social-icon">
            <i class="fab fa-facebook"></i>
          </div>
        </a>
        <a href="https://www.instagram.com/therotechie/">
          <div class="social-icon">
            <i class="fab fa-instagram"></i>
          </div>
        </a>
        <a href="https://www.linkedin.com/in/eneaantonicelli/">
          <div class="social-icon">
            <i class="fab fa-linkedin"></i>
          </div>
        </a>
        <a href="https://github.com/rotechie">
          <div class="social-icon">
            <i class="fab fa-github"></i>
          </div>
        </a>
        <a
          href="https://www.youtube.com/channel/UCUlK52Iuw1UGzz3fpk5dCgw?view_as=subscriber"
        >
          <div class="social-icon">
            <i class="fab fa-youtube"></i>
          </div>
        </a>
        <p>
          &copy; Enea Antonicelli, 2019<br />

          <a href="#"></a>
        </p>
      </div>
    </div>
  </div>
</ng-container>
