<div class="ega_programming_container_interview">
  <div class="ega_main_list_interview">
    <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
      <button
        class="btn btn-outline-primary mr-2"
        id="dropdownManual"
        ngbDropdownAnchor
        (focus)="myDrop.open()"
      >
        Category of Questions
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <button ngbDropdownItem (click)="typeOfInterview = 'all'">
          ALL INTERVIEW QUESTIONS
        </button>
        <button ngbDropdownItem (click)="typeOfInterview = 'administration'">
          ADMINISTRATION INTERVIEW QUESTIONS
        </button>
        <button ngbDropdownItem (click)="typeOfInterview = 'scripting'">
          SCRIPTING INTERVIEW QUESTIONS
        </button>
        <button ngbDropdownItem (click)="typeOfInterview = 'training'">
          TRAINING INTERVIEW QUESTIONS
        </button>
      </div>
    </div>
    <div class="ega_programming_view_interview">
      <div [ngSwitch]="typeOfInterview">
        <div *ngSwitchCase="'all'" class="ega_interview_all">
          <h2 (click)="category = 'all'">ALL INTERVIEW QUESTIONS</h2>
        </div>
        <div
          *ngSwitchCase="'administration'"
          class="ega_interview_administration"
        >
          <h2 (click)="category = 'administration'">
            ADMINISTRATION INTERVIEW QUESTIONS
          </h2>
        </div>
        <div *ngSwitchCase="'scripting'" class="ega_interview_scripting">
          <h2 (click)="category = 'scripting'">
            SCRIPTING INTERVIEW QUESTIONS
          </h2>
        </div>
        <div *ngSwitchCase="'training'" class="ega_interview_training">
          <h2 (click)="category = 'training'">TRAINING INTERVIEW QUESTIONS</h2>
        </div>
        <div *ngSwitchDefault class="ega_placeholder">
          <!-- <span>Select an option.</span> -->
        </div>
      </div>
      <div>
        <div *ngIf="category == 'all' && typeOfInterview == 'all'">
          {{ sortedInterviewQuestionsAll[2].name }}
        </div>
        <div
          *ngIf="
            category == 'administration' && typeOfInterview == 'administration'
          "
        >
          {{ sortedInterviewQuestionsAll[0].name }}
        </div>
        <div *ngIf="category == 'scripting' && typeOfInterview == 'scripting'">
          {{ sortedInterviewQuestionsAll[1].name }}
        </div>
        <div *ngIf="category == 'training' && typeOfInterview == 'training'">
          {{ sortedInterviewQuestionsAll[3].name }}
        </div>
      </div>
    </div>
  </div>
</div>
