wrapper {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}
header,
aside,
main,
footer {
  color: white;
  text-align: center;
  align-items: center;
  display: grid;
}
header,
footer {
  height: 100px;
}
aside,
main {
  height: 200px;
}
header {
  background-color: green;
  grid-column: 1 / span 12;
  grid-row: 4;
}

aside {
  background-color: rgb(78, 0, 78);
  grid-column: 1 / span 12;
  grid-row: 1;
}
main {
  background-color: rgb(131, 20, 0);
  grid-column: 13 / span 12;
  grid-row: 4;
}
footer {
  background-color: blue;
  grid-column: 1 / span 24;
  grid-row: 2;
}

/* 

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400, 700);
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#maximize * {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  font-family: "Droid Sans", Arial, Helvetica, sans-serif;
  vertical-align: baseline;
  line-height: normal;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#maximize > ol,
#maximize > ul,
#maximize > li {
  list-style: none;
}

#preloader {
  width: 300px;
  height: 4px;
  overflow: hidden;
  background-color: #555;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 48%;
  bottom: auto;
  margin: 0 auto;
  -webkit-animation: hide 0.8s ease-out 1 forwards;
  -moz-animation: hide 0.8s ease-out 1 forwards;
  -ms-animation: hide 0.8s ease-out 1 forwards;
  -o-animation: hide 0.8s ease-out 1 forwards;
  animation: hide 0.8s ease-out 1 forwards;
}

@-webkit-keyframes hide {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes hide {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes hide {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes hide {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.preloader {
  width: 300px;
  height: 4px;
  background-color: #f0f0f0;
  margin-top: 0;
  margin-left: -300px;
  -webkit-animation: preload 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 1 forwards;
  -moz-animation: preload 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 1 forwards;
  -ms-animation: preload 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 1 forwards;
  -o-animation: preload 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 1 forwards;
  animation: preload 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 1 forwards;
}

@-webkit-keyframes preload {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 300px;
  }
}

@-moz-keyframes preload {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 300px;
  }
}

@-ms-keyframes preload {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 300px;
  }
}

@-o-keyframes preload {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 300px;
  }
}

@keyframes preload {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 300px;
  }
}

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn 0.6s ease-in 1 forwards 0.6s;
  -moz-animation: fadeIn 0.6s ease-in 1 forwards 0.6s;
  -ms-animation: fadeIn 0.6s ease-in 1 forwards 0.6s;
  -o-animation: fadeIn 0.6s ease-in 1 forwards 0.6s;
  animation: fadeIn 0.6s ease-in 1 forwards 0.6s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#maximize {
  z-index: 2;
}

#maximize .gallery {
  width: 100%;
  height: 100%;
  position: absolute;
}

#maximize .fade {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  -webkit-transition: opacity 1s, visibility 1s;
  -moz-transition: opacity 1s, visibility 1s;
  -ms-transition: opacity 1s, visibility 1s;
  -o-transition: opacity 1s, visibility 1s;
  transition: opacity 1s, visibility 1s;
}

#maximize .gallery input {
  display: none;
}

.image-1 {
  background-image: url(./../assets/images/vegetables/beets.jpg);
}

.image-2 {
  background-image: url(./../assets/images/vegetables/cherokeepurpletomato.jpg);
}

.image-3 {
  background-image: url(./../assets/images/vegetables/favabean.jpg);
}

#maximize .caption {
  position: absolute;
  bottom: 7%;
  left: 5%;
  right: auto;
  top: auto;
  margin: 0 auto;
  width: 70%;
  color: #fff;
}

#maximize .caption h3 {
  font-weight: 700;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all 0.6s ease-in-out 0.5s;
  -moz-transition: all 0.6s ease-in-out 0.5s;
  -ms-transition: all 0.6s ease-in-out 0.5s;
  -o-transition: all 0.6s ease-in-out 0.5s;
  transition: all 0.6s ease-in-out 0.5s;
}

#maximize .caption p {
  font-size: 0.8em;
  padding-top: 4px;
  -webkit-transition: all 0.6s ease-in-out 0.8s;
  -moz-transition: all 0.6s ease-in-out 0.8s;
  -ms-transition: all 0.6s ease-in-out 0.8s;
  -o-transition: all 0.6s ease-in-out 0.8s;
  transition: all 0.6s ease-in-out 0.8s;
}

.caption a {
  display: inline;
  color: #fff;
  text-decoration: underline;
}

.caption a:hover {
  text-decoration: none;
}

#maximize .caption h3,
#maximize .caption p {
  display: block;
  opacity: 0;
  visibility: hidden;
}

#maximize p.info {
  position: absolute;
  right: auto;
  left: 5%;
  top: auto;
  bottom: 3%;
  margin: 0 auto;
  text-align: center;
  font-size: 10px;
  color: #fff;
}

#maximize input#image-1:checked ~ .image-1 > .caption h3,
#maximize input#image-2:checked ~ .image-2 > .caption h3,
#maximize input#image-3:checked ~ .image-3 > .caption h3,
#maximize input#image-1:checked ~ .image-1 > .caption p,
#maximize input#image-2:checked ~ .image-2 > .caption p,
#maximize input#image-3:checked ~ .image-3 > .caption p,
#maximize input#image-1:checked ~ .image-1,
#maximize input#image-2:checked ~ .image-2,
#maximize input#image-3:checked ~ .image-3 {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

#maximize .nav-arrows {
  position: absolute;
  right: 5%;
  bottom: 5%;
  left: auto;
  top: auto;
  margin: 0 auto;
  width: 20%;
  text-align: right;
  z-index: 999;
}

#maximize .nav-arrows label {
  font-size: 60px;
  cursor: pointer;
  color: #fff;
  padding: 0 10px;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#maximize .nav-arrows label:hover,
#maximize .nav-arrows label:focus {
  color: #ccc;
}

#hidden-menu {
  z-index: 999;
  position: fixed;
  height: 100%;
}

#hidden-menu article {
  margin: 0;
  overflow: hidden;
  width: 20%;
  height: 100%;
  left: -20%;
  position: fixed;
  z-index: 9999;
  background: #222;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition: left 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s,
    visibility 0.8s;
  -moz-transition: left 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s,
    visibility 0.8s;
  -ms-transition: left 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s,
    visibility 0.8s;
  -o-transition: left 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s,
    visibility 0.8s;
  transition: left 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, visibility 0.8s;
}

#hidden-menu input#menu-open:checked ~ article.expanded {
  left: 0;
  visibility: visible;
}

#hidden-menu input#menu-close:checked ~ article.expanded {
  left: -20%;
  visibility: hidden;
}

#hidden-menu label.open,
#hidden-menu label.close {
  cursor: pointer;
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  width: 36px;
  top: 42%;
  padding: 10px 0;
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#hidden-menu label.open {
  color: #999;
  background: #333;
  left: 0;
}

#hidden-menu label.close {
  color: #222;
  background: #555;
  right: 0;
}

#hidden-menu label.open:hover {
  background: #222;
  color: #fff;
}

#hidden-menu label.close:hover {
  background: #666;
}

#hidden-menu input#menu-close:checked ~ label.open {
  -webkit-animation: open 1s cubic-bezier(0.86, 0, 0.07, 1) 1 forwards;
  -moz-animation: open 1s cubic-bezier(0.86, 0, 0.07, 1) 1 forwards;
  -ms-animation: open 1s cubic-bezier(0.86, 0, 0.07, 1) 1 forwards;
  -o-animation: open 1s cubic-bezier(0.86, 0, 0.07, 1) 1 forwards;
  animation: open 1s cubic-bezier(0.86, 0, 0.07, 1) 1 forwards;
}

@-webkit-keyframes open {
  0% {
    left: -100px;
  }
  100% {
    left: 0;
  }
}

@-moz-keyframes open {
  0% {
    left: -100px;
  }
  100% {
    left: 0;
  }
}

@-ms-keyframes open {
  0% {
    left: -100px;
  }
  100% {
    left: 0;
  }
}

@-o-keyframes open {
  0% {
    left: -100px;
  }
  100% {
    left: 0;
  }
}

@keyframes open {
  0% {
    left: -100px;
  }
  100% {
    left: 0;
  }
}

#hidden-menu input#menu-open:checked ~ article.expanded > label.close {
  -webkit-animation: close 1s cubic-bezier(0.86, 0, 0.07, 1) 1 forwards;
  -moz-animation: close 1s cubic-bezier(0.86, 0, 0.07, 1) 1 forwards;
  -ms-animation: close 1s cubic-bezier(0.86, 0, 0.07, 1) 1 forwards;
  -o-animation: close 1s cubic-bezier(0.86, 0, 0.07, 1) 1 forwards;
  animation: close 1s cubic-bezier(0.86, 0, 0.07, 1) 1 forwards;
}

@-webkit-keyframes close {
  0% {
    right: -100px;
  }
  100% {
    right: 0;
  }
}

@-moz-keyframes close {
  0% {
    right: -100px;
  }
  100% {
    right: 0;
  }
}

@-ms-keyframes close {
  0% {
    right: -100px;
  }
  100% {
    right: 0;
  }
}

@-o-keyframes close {
  0% {
    right: -100px;
  }
  100% {
    right: 0;
  }
}

@keyframes close {
  0% {
    right: -100px;
  }
  100% {
    right: 0;
  }
}

#hidden-menu input {
  display: none;
}

#hidden-menu article .title {
  display: block;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  margin: 20%;
  font-weight: 700;
  position: relative;
}

#hidden-menu article .links {
  border-top: solid 1px #333;
  padding: 20%;
  display: block;
}

#hidden-menu article .links a {
  display: inline-block;
  width: 100%;
  font-size: 13px;
  font-weight: 300;
  text-decoration: none;
  color: #999;
  margin: 7% 0;
  clear: both;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}

#hidden-menu article .links a:hover {
  color: #fff;
}

#hidden-menu article .links a span {
  padding-right: 6%;
}

#hidden-menu
  input#menu-open:checked
  ~ article.expanded
  > .links
  a:nth-child(1) {
  -webkit-transition: opacity 0.6s ease-in-out 0.6s, color 0.2s;
  -moz-transition: opacity 0.6s ease-in-out 0.6s, color 0.2s;
  -ms-transition: opacity 0.6s ease-in-out 0.6s, color 0.2s;
  -o-transition: opacity 0.6s ease-in-out 0.6s, color 0.2s;
  transition: opacity 0.6s ease-in-out 0.6s, color 0.2s;
}

#hidden-menu
  input#menu-open:checked
  ~ article.expanded
  > .links
  a:nth-child(2) {
  -webkit-transition: opacity 0.6s ease-in-out 0.7s, color 0.2s;
  -moz-transition: opacity 0.6s ease-in-out 0.7s, color 0.2s;
  -ms-transition: opacity 0.6s ease-in-out 0.7s, color 0.2s;
  -o-transition: opacity 0.6s ease-in-out 0.7s, color 0.2s;
  transition: opacity 0.6s ease-in-out 0.7s, color 0.2s;
}

#hidden-menu
  input#menu-open:checked
  ~ article.expanded
  > .links
  a:nth-child(3) {
  -webkit-transition: opacity 0.6s ease-in-out 0.8s, color 0.2s;
  -moz-transition: opacity 0.6s ease-in-out 0.8s, color 0.2s;
  -ms-transition: opacity 0.6s ease-in-out 0.8s, color 0.2s;
  -o-transition: opacity 0.6s ease-in-out 0.8s, color 0.2s;
  transition: opacity 0.6s ease-in-out 0.8s, color 0.2s;
}

#hidden-menu
  input#menu-open:checked
  ~ article.expanded
  > .links
  a:nth-child(4) {
  -webkit-transition: opacity 0.6s ease-in-out 0.9s, color 0.2s;
  -moz-transition: opacity 0.6s ease-in-out 0.9s, color 0.2s;
  -ms-transition: opacity 0.6s ease-in-out 0.9s, color 0.2s;
  -o-transition: opacity 0.6s ease-in-out 0.9s, color 0.2s;
  transition: opacity 0.6s ease-in-out 0.9s, color 0.2s;
}

#hidden-menu
  input#menu-open:checked
  ~ article.expanded
  > .links
  a:nth-child(5) {
  -webkit-transition: opacity 0.6s ease-in-out 1s, color 0.2s;
  -moz-transition: opacity 0.6s ease-in-out 1s, color 0.2s;
  -ms-transition: opacity 0.6s ease-in-out 1s, color 0.2s;
  -o-transition: opacity 0.6s ease-in-out 1s, color 0.2s;
  transition: opacity 0.6s ease-in-out 1s, color 0.2s;
}

#hidden-menu
  input#menu-open:checked
  ~ article.expanded
  > .links
  a:nth-child(6) {
  -webkit-transition: opacity 0.6s ease-in-out 1.1s, color 0.2s;
  -moz-transition: opacity 0.6s ease-in-out 1.1s, color 0.2s;
  -ms-transition: opacity 0.6s ease-in-out 1.1s, color 0.2s;
  -o-transition: opacity 0.6s ease-in-out 1.1s, color 0.2s;
  transition: opacity 0.6s ease-in-out 1.1s, color 0.2s;
}

#hidden-menu article p {
  color: #777;
  position: absolute;
  bottom: 5%;
  font-size: 11px;
  padding: 0 20%;
}

#hidden-menu .pagination {
  display: block;
  width: 100%;
  padding: 20%;
}

#hidden-menu .pagination label {
  font-size: 13px;
  color: #999;
  cursor: pointer;
  margin-right: 5%;
}

#hidden-menu .pagination label:hover {
  color: #fff;
}

#hidden-menu input#menu-open:checked ~ article.expanded > .pagination label {
  -webkit-transition: opacity 0.6s ease-in-out 1.3s, color 0.2s;
  -moz-transition: opacity 0.6s ease-in-out 1.3s, color 0.2s;
  -ms-transition: opacity 0.6s ease-in-out 1.3s, color 0.2s;
  -o-transition: opacity 0.6s ease-in-out 1.3s, color 0.2s;
  transition: opacity 0.6s ease-in-out 1.3s, color 0.2s;
}

#hidden-menu article .title,
#hidden-menu article .links a,
#hidden-menu article p,
#hidden-menu .pagination label {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

#hidden-menu input#menu-open:checked ~ article.expanded > .title,
#hidden-menu input#menu-open:checked ~ article.expanded > .links a,
#hidden-menu input#menu-open:checked ~ article.expanded > p,
#hidden-menu input#menu-open:checked ~ article.expanded > .pagination label {
  opacity: 1;
}

@media screen and (max-width: 1366px) {
  #hidden-menu article {
    width: 30%;
  }
  #hidden-menu input#menu-close:checked ~ article.expanded {
    left: -30%;
  }
}

@media screen and (max-width: 1024px) {
  .image-1 {
    background-image: url(./../assets/images/vegetables/beets.jpg);
  }
  
  .image-2 {
    background-image: url(./../assets/images/vegetables/cherokeepurpletomato.jpg);
  }
  
  .image-3 {
    background-image: url(./../assets/images/vegetables/favabean.jpg);
  }

@media screen and (max-width: 800px), (max-height: 640px) {
  #hidden-menu article {
    width: 50%;
  }
  #hidden-menu input#menu-close:checked ~ article.expanded {
    left: -50%;
  }
}

@media screen and (max-height: 800px) {
  #hidden-menu article .links,
  #hidden-menu .pagination {
    padding: 10% 20%;
  }
  #hidden-menu article .title {
    margin: 10% 20%;
  }
}

@media screen and (max-width: 480px), (max-height: 480px) {
  #hidden-menu article {
    width: 100%;
  }
  #hidden-menu input#menu-close:checked ~ article.expanded {
    left: -100%;
  }
  #maximize .caption {
    bottom: 10%;
    width: 60%;
  }
  #maximize .caption h3 {
    font-size: 0.9em;
  }
  #maximize .caption p {
    font-size: 0.7em;
  }
  #maximize .nav-arrows {
    width: 30%;
    bottom: 10%;
  }
}

@media screen and (max-height: 640px) {
  #hidden-menu article .links {
    padding: 8%;
  }
  #hidden-menu article .links a {
    width: auto;
    margin-right: 10px;
    overflow: visible;
    padding: 0;
    display: block;
    float: left;
    margin: 3% 5% 3% 0;
    clear: none;
  }
  #hidden-menu article .title {
    margin: 8%;
  }
  #hidden-menu article p {
    padding: 0 8%;
  }
  #hidden-menu article .pagination {
    padding: 15% 10%;
  }
}

@media screen and (max-height: 480px) {
  #hidden-menu article .links,
  #hidden-menu .pagination {
    padding: 5% 10%;
  }
  #hidden-menu article .title {
    margin: 5% 10%;
  }
} */
