<button
  class="ega_navButton"
  (click)="toggle()"
  [style.color]="ega_colorChange()"
>
  <i class="fa fa-bars"></i>
  <!-- <a class="btn-open" href="#"></a> -->
</button>
<nav>
  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Work</a></li>
  </ul>
</nav>
<ng-container *ngIf="!show">
  <div class="overlay" [@fadeInOut]>
    <div class="wrap">
      <ul class="wrap-nav">
        <li>
          <a href="#">About</a>
          <ul>
            <li><a href="#">About Company</a></li>
            <li><a href="#">Designers</a></li>
            <li><a href="#">Developers</a></li>
            <li><a href="#">Pets</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Services</a>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Development</a></li>
            <li><a href="#">Apps</a></li>
            <li><a href="#">Graphic design</a></li>
            <li><a href="#">Branding</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Work</a>
          <ul>
            <li><a href="#">Web</a></li>
            <li><a href="#">Graphic</a></li>
            <li><a href="#">Apps</a></li>
          </ul>
        </li>
      </ul>
      <div class="social">
        <a href="#">
          <div class="social-icon">
            <i class="fa fa-facebook"></i>
          </div>
        </a>
        <a href="#">
          <div class="social-icon">
            <i class="fa fa-twitter"></i>
          </div>
        </a>
        <a href="#">
          <div class="social-icon">
            <i class="fa fa-codepen"></i>
          </div>
        </a>
        <a href="#">
          <div class="social-icon">
            <i class="fa fa-behance"></i>
          </div>
        </a>
        <a href="#">
          <div class="social-icon">
            <i class="fa fa-dribbble"></i>
          </div>
        </a>
        <p>
          &copy; Enea Antonicelli, 2019<br />

          <a href="#"></a>
        </p>
      </div>
    </div>
  </div>
</ng-container>
<div class="content">
  Click on hamburger to open the overlay menu
</div>
