<button
  class="ega_navButton"
  (click)="toggle()"
  [style.color]="ega_colorChange()"
>
  <i class="fa fa-bars"></i>
  <!-- <a class="btn-open" href="#"></a> -->
</button>
<nav>
  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Work</a></li>
  </ul>
</nav>
<ng-container *ngIf="!show">
  <div class="overlay" [@fadeInOut]>
    <div class="wrap">
      <ul class="wrap-nav">
        <li>
          <a href="#">About</a>
          <ul>
            <li><a href="#">About me</a></li>
            <li><a href="#">Resume</a></li>
            <li><a href="#">References</a></li>
            <li><a href="#">Hobbies</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Portfolio</a>
          <ul>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Application Development</a></li>
            <li><a href="#">Graphic Design</a></li>
            <li><a href="#">Photography</a></li>
          </ul>
        </li>
      </ul>
      <div class="social">
        <a href="#">
          <div class="social-icon">
            <i class="fa fa-facebook"></i>
          </div>
        </a>
        <a href="#">
          <div class="social-icon">
            <i class="fa fa-instagram"></i>
          </div>
        </a>
        <a href="#">
          <div class="social-icon">
            <i class="fa fa-linkedin"></i>
          </div>
        </a>
        <a href="#">
          <div class="social-icon">
            <i class="fa fa-github"></i>
          </div>
        </a>
        <a href="#">
          <div class="social-icon">
            <i class="fa fa-youtube"></i>
          </div>
        </a>
        <p>
          &copy; Enea Antonicelli, 2019<br />

          <a href="#"></a>
        </p>
      </div>
    </div>
  </div>
</ng-container>
<div class="content">
  Click on hamburger to open the overlay menu
</div>
