<app-garden-table></app-garden-table>
<br />
<p><span>Environment:</span></p>
<ul>
  <li>
    <span>Sow outdoors:</span> Sow seeds directly into the ground outside and
    without cover.
  </li>
  <li>
    <span>Sow indoors:</span> Sow seeds indoors either on a window sill, inside
    a greenhouse, or under lights.
  </li>
  <li>
    <span>Sow undercover:</span> Sow seeds outdoors but under the protection of
    a fleece.
  </li>
</ul>
<p>
  Transplanting of seedlings does not have a specific date tied to it. This task
  should be done once the seedlings reach the appropriate maturity level. This
  is variable based on growing conditions. Under normal conditions, this is
  around 4 weeks after the initial sowing. At least two inches of plant growth
  is advised prior to transplanting.
</p>
