<app-nav-bar-hamburger></app-nav-bar-hamburger>
<app-nav-bar></app-nav-bar>

<div class="ega_resume_container">
  <div class="ega_qualification_titles">
    <h2 (click)="changeValue = 'professional_skills'">
      Professional Skills
    </h2>
    <h2 (click)="changeValue = 'education'">Education</h2>
    <h2 (click)="changeValue = 'achievements'">Achievements</h2>
    <h2 (click)="changeValue = 'certifications'">Certifications</h2>
    <h2 (click)="changeValue = 'languages'">Languages</h2>
  </div>
  <div class="ega_qualification_view">
    <div [ngSwitch]="changeValue">
      <div *ngSwitchCase="'professional_skills'">
        <ul class="ega_professional_skills">
          <li>ServiceNow</li>
          <li>Git</li>
          <li>Responsive Design</li>
          <li>HTML 5, CSS 3</li>
          <li>JavaScript</li>
          <li>jQuery</li>
          <li>Node.js</li>
          <li>Express.js</li>
          <li>Bootstrap</li>
          <li>Materialize</li>
          <li>MongoDB</li>
          <li>Adobe Photoshop</li>
          <li>Adobe Illustrator</li>
          <li>Adobe Premiere</li>
          <li>Adobe After Effects</li>
          <li>Adobe InDesign</li>
          <li>MySQL</li>
          <li>Heroku</li>
          <li>WordPress</li>
          <li>PHP</li>
        </ul>
      </div>
      <div *ngSwitchCase="'education'">
        <ul class="ega_education">
          <li>
            <img
              src="../../../assets/images/servicenow.svg"
              alt="ServiceNow Logo"
            />
            <h2>ServiceNow Administrator and Developer</h2>
            <p>
              Formal training in ServiceNow:
            </p>
            <ul>
              <li>Two year mentorship under a Senior ServiceNow Architect</li>
              <li><i>ServiceNow for Administrators</i> - 24 hours of class</li>
              <li><i>ServiceNow for Developers</i> - 24 hours of class</li>
              <li><i>Scripting in ServiceNow</i> - 24 hours of class</li>
            </ul>
          </li>
          <li>
            <img
              src="../../../assets/images/bootcamp.png"
              alt="UC Davis Extension Logo"
            />
            <h2>Full Stack Coding Bootcamp</h2>
            <p>
              The format for this bootcamp consisted of 6 months of 10 hour a
              week in-class sessions, followed by a minimum of 30 hours a week
              of assignment work. The expectation and flow resulted in the
              output of one application per week for a total of 24 applications
              being built.
            </p>
          </li>

          <li>
            <img
              src="../../../assets/images/bci.png"
              alt="Business Continuity Institute Logo"
            />
            <h2>Business Continuity Institute</h2>
            <p>
              The BCI the course progresses through business continuity
              management (BCM) processes & practice and provides a solid
              foundation in business continuity. Six professional practices are
              covered and they include:
            </p>
            <ul>
              <li>PP1 - Policy and Programme Management</li>
              <li>PP2 - Embedding</li>
              <li>PP3 - Analysis</li>
              <li>PP4 - Design</li>
              <li>PP5 - Implementation</li>
              <li>PP6 - Validation</li>
            </ul>
          </li>
          <li>
            <img
              src="../../../assets/images/diploma.jpg"
              alt="Image of Bachelors Degree"
            />
            <h2>Bachelor of Arts in Photography</h2>
            <p>
              The Sacramento State University Photography program provided me
              with strong foundations in both analog and digital expression.
              This education gave me a design background that pairs well with
              back end programming.
            </p>
          </li>
        </ul>
      </div>
      <div [ngSwitch]="changeValue">
        <div *ngSwitchCase="'achievements'">
          <ul class="ega_achievements">
            <li>achievements</li>
            <li>Git</li>
          </ul>
        </div>
      </div>
      <div [ngSwitch]="changeValue">
        <div *ngSwitchCase="'certifications'">
          <ul class="ega_certifications">
            <li>Certification</li>
            <li>Git</li>
          </ul>
        </div>
      </div>
      <div [ngSwitch]="changeValue">
        <div *ngSwitchCase="'languages'">
          <ul class="ega_languages">
            <li>
              <h2>English</h2>
              <p>Fluent spoken and written</p>
            </li>
            <li>
              <h2>Italian</h2>
              <p>Fluent spoken and written</p>
            </li>
            <li>
              <h2>Spanish</h2>
              <p>Conversational; two years of formal education</p>
            </li>
            <li>
              <h2>French</h2>
              <p>Conversational; two years of formal education</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
