// ngb-tabset {
//   display: inline-grid;
//   grid-template-columns: 20vw auto;
//   width: 100%;
// }

.ega_view_container > ol > li > ngx-gist > iframe {
  min-height: 500px !important;
}

.ega_view_container {
  padding: 0 5%;
}
.ega_view_container li {
  padding: 2% 0;
}
.btn-outline-primary {
  color: var(--theme-charcoal);
  border-color: var(--theme-charcoal);
  background-color: none;
}
.btn-outline-primary.dropdown-toggle {
  border-color: var(--theme-charcoal);
  color: var(--theme-charcoal);
}
.btn-outline-primary:hover {
  background-color: var(--theme-charcoal);
  color: white;
}
.btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--theme-light-teal);
}
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--theme-light-teal);
  border-color: white;
}
.show > .btn-outline-primary.dropdown-toggle {
  background-color: var(--theme-teal);
  color: white;
}
.dropdown-item:active {
  background-color: var(--theme-teal);
}
.ega_programming_view_interview h2 {
  font-size: 1rem;
  padding: 6% 2%;
}
.ega_programming_view_interview {
  display: grid;
  grid-template-columns: 20vw auto;
}
.ega_main_list_interview {
  padding: 3%;
}
.ega_interview_questions_tab {
  position: relative;
}
.ega_interview_question_component {
  position: relative;
  padding: 5%;
  left: 0;
  top: 0;
}
.ega_grid_image {
  width: 75%;
  display: block;
  margin: auto;
  padding: 5%;
}
.ega_view_container img {
  width: 100%;
  display: block;
  margin: auto;
  padding: 5%;
}
// tldr styles

.tldr {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5% 0;
}
.tldr div {
  padding: 5% 2%;
}

@media (max-width: 64em) {
  ngb-tabset {
    grid-template-columns: auto;
  }
}
