ngb-tabset {
  display: inline-grid;
  grid-template-columns: 20vw auto;
  width: 100%;
}

.ega_view_container {
  padding: 5%;
}
.btn-outline-primary {
  color: var(--theme-charcoal);
  border-color: var(--theme-charcoal);
  background-color: none;
}
.btn-outline-primary.dropdown-toggle {
  border-color: var(--theme-charcoal);
  color: var(--theme-charcoal);
}
.btn-outline-primary:hover {
  background-color: var(--theme-charcoal);
  color: white;
}
.btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--theme-light-teal);
}
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--theme-light-teal);
  border-color: white;
}
.show > .btn-outline-primary.dropdown-toggle {
  background-color: var(--theme-teal);
  color: white;
}
.dropdown-item:active {
  background-color: var(--theme-teal);
}
.ega_programming_view_interview h2 {
  font-size: 1rem;
  padding: 6% 2%;
}
.ega_programming_view_interview {
  display: grid;
  grid-template-columns: 20vw auto;
}
.ega_main_list_interview {
  padding: 3%;
}
