<app-nav-bar-hamburger></app-nav-bar-hamburger>
<app-nav-bar></app-nav-bar>
<h1>Knowledge Library</h1>
<!-- <div class="ega_programming_container">
  <div class="ega_programming_language">
    <h2 (click)="programmingLanguage = 'Snow'">Service Now</h2>
    <h2 (click)="programmingLanguage = 'Angular'">Angular</h2>
    <h2 (click)="programmingLanguage = 'Git'">Git</h2>
  </div>
  <div class="ega_view">
    <div [ngSwitch]="programmingLanguage">
      <div *ngSwitchCase="'Snow'" class="ega_snow">
        <app-service-now></app-service-now>
      </div>
    </div>
    <div [ngSwitch]="programmingLanguage">
      <div *ngSwitchCase="'Angular'" class="ega_angular">
        <app-data-binding></app-data-binding>
      </div>
    </div>
    <div [ngSwitch]="programmingLanguage">
      <div *ngSwitchCase="'Git'" class="ega_git">
        <app-git-bash></app-git-bash>
      </div>
    </div>
  </div>
</div> -->

<ngb-tabset>
  <ngb-tab title="Service Now">
    <ng-template ngbTabContent>
      <app-service-now></app-service-now>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Angular">
    <ng-template ngbTabContent>
      <app-data-binding></app-data-binding>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Git">
    <ng-template ngbTabContent>
      <app-git-bash></app-git-bash>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
