<app-nav-bar-hamburger></app-nav-bar-hamburger>
<app-nav-bar></app-nav-bar>
<div class="ega_sidebar_container">
  <h2 (click)="programmingLanguage = 'Angular'">Angular</h2>
  <h2 (click)="programmingLanguage = 'Git'">Git</h2>
  <div [ngSwitch]="programmingLanguage">
    <div *ngSwitchCase="'Angular'" class="ega_angular">
      <app-data-binding></app-data-binding>
    </div>
  </div>
  <div [ngSwitch]="programmingLanguage">
    <div *ngSwitchCase="'Git'" class="ega_git">
      <app-git-bash></app-git-bash>
    </div>
  </div>
</div>
