h1 {
  font-size: 20px;
  text-align: center;
}

.ega_programming_language {
  display: inline-grid;
}
.ega_programming_language h2 {
  transition: all 0.2s ease-in-out;
}

.ega_programming_language h2:hover {
  transform: scale(1.1);
}

@media (min-width: 700px) {
  .ega_sidebar_container {
    margin: 5% 15%;
  }
  h1 {
    font-size: 20px;
    text-align: center;
  }
}
