:host,
body {
  display: grid;
}
a {
  text-decoration: none;
}
#ega_title {
  margin-top: 2%;
  text-align: center;
}
.ega_whitediv {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
}
.ega_main_card_container {
  display: grid;
  height: 50vh;
  grid-template-areas: "one two three four five";
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  margin-top: 5vh;
}
#ega_main_card_professional,
#ega_main_card_leisure {
  z-index: 3;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
  box-shadow: 0px 10px 15px -10px rgba(71, 71, 71, 0.4);
}

#ega_binary {
  width: 90%;
  margin: 4% auto 0px auto;
  opacity: 0.2;
  font-size: 0.8rem;
}
#ega_binary p {
  text-align: center;
}
#ega_main_card_professional {
  grid-area: two;
}
#ega_main_card_leisure {
  grid-area: four;
}
.ega_backgroundimage {
  grid-area: three;
  justify-self: center;
  align-self: center;
}
.mat-button,
.mat-menu-item {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-family: "Noto Sans HK", sans-serif;
  font-weight: 600;
}
#ega_backgroundimage_pro,
#ega_backgroundimage_lea {
  width: 50vh;
  z-index: 0;
}
#ega_backgroundimage_pro {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "main";
}

#ega_backgroundimage_pro img,
#ega_backgroundimage_lea img {
  grid-area: main;
  width: 100%;
  transition: opacity 1s;
}
// .ega_logoman_image_right {
//   position: absolute;
// }
@media (max-width: 700px) {
  #ega_title {
    padding: 0% 10%;
    font-size: 2rem;
  }
  #ega_backgroundimage_pro {
    width: 75%;
    margin: auto;
  }
  .ega_main_card_container {
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five";
    grid-template-columns: 1fr;
    padding: 5%;
  }
}
