<!-- <div id="ega_page_container">
  <div class="ega_main_wrapper"> -->
<div id="ega_main_background">
  <!-- <app-nav-bar-hamburger></app-nav-bar-hamburger> -->

  <h1 id="ega_title">ENEA ANTONICELLI</h1>

  <div class="ega_main_card_container">
    <div professional id="ega_main_card_professional">
      <button mat-button [matMenuTriggerFor]="menu1">Professional</button>
      <mat-menu #menu1="matMenu">
        <a routerLink="/professional-resume" routerLinkActive="active"><button mat-menu-item>Resume</button></a>
        <a routerLink="/professional-programming" routerLinkActive="active"><button
            mat-menu-item>Programming</button></a>
        <a routerLink="/simbi" routerLinkActive="active"><button mat-menu-item>Simbi</button></a>
      </mat-menu>
    </div>

    <div leisure id="ega_main_card_leisure">
      <button mat-button [matMenuTriggerFor]="menu2">Leisure</button>
      <mat-menu #menu2="matMenu">
        <a routerLink="/leisure-programming" routerLinkActive="active"><button mat-menu-item>Programming</button></a>
        <a routerLink="/leisure-gardening" routerLinkActive="active"><button mat-menu-item>Gardening</button></a>
        <a routerLink="/leisure-photography" routerLinkActive="active"><button mat-menu-item>Photography</button></a>
      </mat-menu>
    </div>
  </div>
</div>
<!-- </div>
</div> -->