<ngb-tabset [orientation]="vertical" class="ega_tab_container">
  <ngb-tab title="" class="ega_tab">
    <ng-template ngbTabContent class="ega_tab_content"> </ng-template>
  </ngb-tab>
  <ngb-tab title="SSH key and Cloning" class="ega_tab">
    <ng-template ngbTabContent class="ega_tab_content">
      <app-ssh></app-ssh>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="HTTP Cloning" class="ega_tab">
    <ng-template ngbTabContent class="ega_tab_content">
      http cloning</ng-template
    >
  </ngb-tab>
  <ngb-tab title="Client Scripts" class="ega_tab">
    <ng-template ngbTabContent class="ega_tab_content">
      CLIENT SCRIPTS</ng-template
    >
  </ngb-tab>
</ngb-tabset>
