@import "~ngx-easy-table/style.scss";

#ega_gardening_table {
  padding: 1% 3%;
}

.modal {
  display: block;
  background: none;
  // height: 50vh;
  width: 100%;
  position: fixed;
}
.modal-container {
  background: white;
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
