<ngb-tabset [orientation]="vertical" class="ega_tab_container">
  <ngb-tab title="" id="ega_empty_tab">
    <ng-template ngbTabContent class="ega_tab_content"> </ng-template>
  </ngb-tab>
  <ngb-tab title="Germination" class="ega_germination">
    <ng-template ngbTabContent class="ega_tab_content">
      <app-germination></app-germination>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Propagation" class="ega_tab">
    <ng-template ngbTabContent class="ega_tab_content">
      Propagation</ng-template
    >
  </ngb-tab>
  <ngb-tab title="Hardiness Zones" class="ega_tab">
    <ng-template ngbTabContent class="ega_tab_content">
      <app-hardiness></app-hardiness
    ></ng-template>
  </ngb-tab>
</ngb-tabset>
