// Importing a theme is necessary for some material components such as the buttons to function properly. In this case, the hover was not working without the theme.
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK:100&display=swap");
@import "~ngx-easy-table/style.scss";

// Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

// Font-Size
$base-font-size: 1em;

// Line-Height
$base-line-height: 1.5;
$header-line-height: 1.25;

:root {
  --theme-orange: rgb(255, 94, 0);
  --theme-light-teal: rgba(124, 234, 248, 0.51);
  --theme-charcoal: #373737;
  --theme-transparent-grey: #8a8a8a1e;
  --theme-teal: #17a2b8;

  .ega_bold {
    font-weight: 600;
  }
  .ega_red {
    color: red;
    font-weight: 600;
  }
  .ega_blue {
    color: blue;
    font-weight: 600;
  }
  .ega_green {
    color: green;
    font-weight: 600;
  }

  .ega_teal {
    color: teal;
    font-weight: 600;
  }
  .ega_orange {
    color: rgb(177, 82, 19);
    font-weight: 600;
  }
  .ega_underline {
    text-decoration: underline;
    font-weight: 600;
  }
  .ega_italic {
    font-style: italic;
    font-weight: 600;
  }
  // -- Over rides for high specificity node_module styles --
  // START POPOVER OVERRIDES
  ngb-popover-window .popover-header,
  ngb-popover-window .popover-body {
    padding: 5%;
  }
  // END POPOVER OVERRIDES
  // START TAB OVERRIDES
  .ngx-menu {
    padding: 0;
    text-align: center;
  }
  .ngx-pagination-range-dropdown-button {
    width: max-content;
  }
  .ngx-pagination-range-dropdown-button-item:hover {
    background-color: var(--theme-transparent-grey);
  }
  ngb-tabset div,
  ngb-tabset {
    padding: 0 1%;
  }
  ngb-tabset > ul > li > a {
    color: var(--theme-charcoal);
  }
  .ngx-pagination-range-dropdown-button {
    padding: 0;
  }
  .ega_tab_container > ul > li:nth-child(1) > a {
    border: none !important;
  }
  ngb-tabset > ul > li {
    font-weight: bold;
  }
  ngb-tabset > ul {
    margin: 0 0 2% 0;
  }
  // END TAB OVERRIDES
  // START GIST OVERRIDES
  ngx-gist {
    display: grid;
    min-height: 400px;
  }
  ngx-gist > iframe {
    height: 100% !important;
  }

  // END GIST OVERRIDES

  // START PHOTO CAROUSEL OVERRIDES
  .carousel-control-prev,
  .carousel-control-next {
    width: 10%;
  }

  ol.carousel-indicators li.ng-star-inserted {
    display: none;
  }
  span.carousel-control-next-icon {
    background-image: url(./assets/images/arrow_right_grey.svg) !important;
  }
  span.carousel-control-prev-icon {
    background-image: url(./assets/images/arrow_left_grey.svg) !important;
  }
  // END PHOTO CAROUSEL OVERRIDES
}
@media (min-width: 64em) {
  // END -- Over rides for high specificity node_module styles
}
:host,
body {
  font-size: $base-font-size;
  line-height: $base-line-height;
  // font-family: "Nunito", sans-serif;
  font-family: "Noto Sans HK", sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  @media #{$mq-medium} {
    font-size: $base-font-size * 1;
    line-height: $base-line-height * 1;
  }

  @media #{$mq-large} {
    font-size: $base-font-size * 1.1;
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size * 1.2;
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size * 1.3;
  }
}
.ega_container {
  margin: 0 4%;

  @media #{$mq-medium} {
    margin: 0 6%;
  }

  @media #{$mq-large} {
    margin: 0 8%;
  }

  @media #{$mq-xlarge} {
    margin: 0 12%;
  }
}
button:focus {
  outline: unset;
}
