// Importing a theme is necessary for some material components such as the buttons to function properly. In this case, the hover was not working without the theme.
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
:host,
body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}
button:focus {
  outline: unset;
}
