<section class="gallery">
  <div class="container">
    <div class="grid">
      <div class="column-xs-12 column-md-4">
        <figure class="img-container">
          <img src="/assets/images/christmas-cards/christmas-card1.jpg" />
          <figcaption class="img-content">
            <h2 class="title">Christmas 2015</h2>
            <h3 class="category">Showcase</h3>
          </figcaption>
          <span class="img-content-hover">
            <h2 class="title">Christmas 2015</h2>
            <h3 class="category">Showcase</h3>
          </span>
        </figure>
      </div>
      <div class="column-xs-12 column-md-4">
        <figure class="img-container">
          <img src="/assets/images/christmas-cards/christmas-card2.jpg" />
          <figcaption class="img-content">
            <h2 class="title">Christmas 2016</h2>
            <h3 class="category">Showcase</h3>
          </figcaption>
          <span class="img-content-hover">
            <h2 class="title">Christmas 2016</h2>
            <h3 class="category">Showcase</h3>
          </span>
        </figure>
      </div>
      <div class="column-xs-12 column-md-4">
        <figure class="img-container">
          <img src="/assets/images/christmas-cards/christmas-card3.jpg" />
          <figcaption class="img-content">
            <h2 class="title">Christmas 2017</h2>
            <h3 class="category">Showcase</h3>
          </figcaption>
          <span class="img-content-hover">
            <h2 class="title">Christmas 2017</h2>
            <h3 class="category">Showcase</h3>
          </span>
        </figure>
      </div>
      <div class="column-xs-12 column-md-6">
        <figure class="img-container">
          <img src="/assets/images/christmas-cards/christmas-card4.jpg" />
          <figcaption class="img-content">
            <h2 class="title">Christmas 2018</h2>
            <h3 class="category">Showcase</h3>
          </figcaption>
          <span class="img-content-hover">
            <h2 class="title">Christmas 2018</h2>
            <h3 class="category">Showcase</h3>
          </span>
        </figure>
      </div>
    </div>
  </div>
</section>
