<div class="ega_view_container">
  <h1>ATTRIBUTE BINDING</h1>
  <p>
    In order to understand Attribute Binding, it is important to understand the
    difference between attributes and properties.
  </p>
  <p>
    Attributes are name value pair statements that are inserted in the
    <span class="ega_underline">start</span> tag of an HTML element in the same
    way that you would declare a class for that element. An example is the
    <span class="ega_italic">“href”</span> attribute.
  </p>
  <br />
  &lt;<span class="ega_blue">a</span> <span class="ega_teal"> href</span>=<span
    class="ega_orange"
    >"https://www.reddit.com"</span
  >&gt;This is a link&lt;<span class="ega_blue">/a</span>&gt;
  <br />
  <br />
  <p>
    The name in this case is <span>href</span> and the value is the
    <span>https://www.reddit.com</span>
    url.
  </p>
  <p>
    When the Document Object Model (DOM) is rendered, every html element becomes
    an
    <span class="ega_underline">object</span>. Objects have access to an array
    of properties that can be dot-walked. The attributes from the HTML
    initialize a corresponding object property or DOM
    <span class="ega_italic">“node”</span> with the attribute’s value being set
    as the property value.
  </p>
  <p>
    Once attributes initialize these properties and their corresponding values,
    their task is complete; the attributes themselves no longer get changed. Any
    dynamic changes now happen on the DOM property value.
  </p>

  <p>
    To visualize this concept, we can look at the
    <span class="ega_italic">“input”</span> element:
  </p>
  <br />
  &lt;<span class="ega_blue">input</span>
  <span class="ega_teal"> type</span>=<span class="ega_orange">"text"</span>
  <span class="ega_teal"> value</span>=<span class="ega_orange"
    >"grapefruit"</span
  >
  /&gt;
  <br />
  <br />
  <p>
    There are two attributes here, but we will focus on the second. This
    attribute name <span class="ega_italic">“value”</span> has an actual content
    value of <span class="ega_italic">“grapefruit”</span>. In this example, the
    value attribute will create a corresponding DOM node with a value
    initialized to <span class="ega_italic">"grapefruit"</span>. When the user
    types inside the input box, the value they type replaces the current
    property value. The attribute value on the other hand, always remains
    grapefruit.
  </p>
  <p>
    To show this, you can call the attribute by typing:
    <span>input.getAttribute('value')</span>. This will return
    <span class="ega_italic">“grapefruit”</span>.
  </p>

  <p>
    On the other hand, you can call the property value by typing:
    <span>input.value</span>, and it will return whatever the user typed into
    the input field. If nothing new was typed, it will return the original
    value, or "grapefruit".
  </p>
  <p>
    In other words, the HTML attribute value is the
    <span class="ega_underline">initial</span> value while the DOM value
    property is the <span class="ega_underline">current</span> value.
  </p>
  <p>
    <span>It is important to note the following:</span>
  </p>
  <ul>
    <li>
      There are some HTML attributes that do not generate corresponding
      properties and thus do not have a 1:1 mapping.
      <span class="ega_italic">“colspan”</span> is one such example. Colspan is
      an attribute of the DOM, but it does not have a corresponding property. It
      is read-only yet the browser still renders it because it is an attribute.
    </li>
    <li>
      <span class="ega_italic">"Id"</span> on the other hand is an example of
      1:1 mapping. If you call
      <span>
        document.getElementById(<span class="ega_orange">“idname”</span>).id
      </span>
      it would return <span class="ega_underline">idname</span>.
    </li>
    <li>
      Some DOM properties do not have corresponding attributes.
      <span class="ega_italic">"textContent"</span> is one example.
    </li>
  </ul>

  <p>
    The <span>disabled</span> attribute is a unique example. The disabled
    property on a button is set to false by default, meaning the button is
    enabled by default. If you add the word
    <span class="ega_italic">“disabled”</span> to the starting tag of the
    button, it becomes disabled. It does not take a value and is declared with
    the single name alone. Which is why adding disabled="false" does nothing as
    it does not get registered by the DOM.
  </p>
  <p>
    To recap, you would only bind to an attribute if it
    <span class="ega_underline"> does not have a corresponding property </span>.
    Attribute binding is an expensive operation because the entire element needs
    to be re-rendered as opposed to just the property value. Thus it's usage
    should be avoided if at all possible.
  </p>
  <h2>USAGE:</h2>

  <p>
    If we wanted to bind to the colspan attribute, since it fits the requirement
    of it not having a corresponding property, you would use the following
    syntax:
  </p>
  <br />
  <div>
    <ngx-gist [gistId]="'rotechie/59b67518cf0f5d4f1a951fcca9f0bf83'"></ngx-gist>
  </div>
  <br />
</div>
